<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--
<body>

<a href="/user/list">用户列表页</a>
</body>
</html>-->
<head>
</head>

 index page
 <!--   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>layout 后台大布局 - Layui</title>
    &lt;!&ndash;<link th:href="@{/js/layui-v2.2.5/layui/css/layui.css}" rel="stylesheet"/>&ndash;&gt;
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
    <script src="../static/layui/layui.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">layui 后台布局</div>
        &lt;!&ndash; 头部区域（可配合layui已有的水平导航） &ndash;&gt;
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq";; class="layui-nav-img"/>
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            &lt;!&ndash; 左侧导航区域（可配合layui已有的垂直导航） &ndash;&gt;
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">所有商品</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="javascript:;">列表三</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        &lt;!&ndash; 内容主体区域 &ndash;&gt;
        <div style="padding: 15px;">内容主体区域</div>
    </div>

    <div class="layui-footer">
        &lt;!&ndash; 底部固定区域 &ndash;&gt;
        © layui.com - 底部固定区域
    </div>
</div>

<script th:src="@{/js/jquery-1.11.1.min.js}"></script>
&lt;!&ndash;<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>&ndash;&gt;
&lt;!&ndash;<script th:src="@{/layui/layui.js}"></script>&ndash;&gt;

&lt;!&ndash;<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>&ndash;&gt;
<script>

  $(function () {
      alert("jQuery  is  ok")
  })

</script>-->
</body>
</html>
